<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <school>
        <name>THPT A Trần Hưng Đạo</name>
        <logo></logo>
    </school>

    <platform>
        <name>Thư viện Ấn phẩm số</name>
        <description>Thư viện Ấn phẩm số của THPT A Trần Hưng Đạo.</description>
        <favicon></favicon>
    </platform>
</settings>